<h1>All Hangout Friends</h1>

<table cellspacing="20">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th></th>
  </tr>
  <%@users.each do |u|%>
  <tr>
    <td><%=u.first_name%></td>
    <td><%=u.last_name%></td>
    <td><%=link_to u.username, u%></td>
    <td><%=link_to "Add as Friend", friendships_path(friend_id: u.id), method: :post %>
    <%end%>
  </tr>
</table>

  <!-- #remember the above - you can append additional params via the approach above in a form -->


<!-- ????? weird -how come when i program friend: u above, it captures this (within params) as a number - as the u's id. number, instead of u itself, where u is written to be the object? This is forcing me to use user_id vs. user objects...-->

<!-- learning more - I notice that actually, these objects do NOT have objectID's - that they are actually hashes, so no wonder ActiveRecord is complaining - i'm trying to give a friend instance, but I'm giving a hash of info about that instance - perhaps because with these approaches, we are not instantiating records from table into short term memory? must use id... -->
