<h1><%=@user.username%>'s Profile</h1>

<p>My Friends</p>
<%@user.friends.each do |friend|%>
<li><%=friend.username%>
<%end%>



<!-- username's dashboard for hangouts
username's friends
username's profile info
user's upcoming hangouts
user's pending invites
user's draft hangouts

calendar view

Add a friend
Update Your Profile
Create a new hangout
Browse public hangouts -->

<footer>
<%=link_to "Hangout Friends Index", users_path%>
</footer>
